@using MefistoTheatre.ViewModels.Blog
@using System.Security.Claims
@model BlogDetailsViewModel

@{
    ViewData["Title"] = "Post";
}

<a asp-action="Index" class="btn btn-primary mb-4 mt-5"><i class="fa-solid fa-arrow-left"></i></a>

<article class="mb-5">
    <h2 class="mb-1">@Model.Title</h2>
    <p class="text-muted">
        @Model.PublishedAt?.ToString("dddd MMM yyyy") by <a asp-action="Index" asp-route-searchAuthor="@Model.AuthorName">@Model.AuthorName</a></p>
    @Html.Raw(Model.Content)
</article>

<section class="mb-4">
    <label>Comments: @Model.Comments!.Count</label>
    <hr />
    @if (Model.Comments != null)
    {
        @foreach (var comment in Model.Comments)
        {
            <div class="d-flex border border-primary p-4 mb-4">
                <div class="flex-fill">
                    <h5 class="mb-3">@comment.AuthorName says...</h5>
                    <p>@comment.Content</p>
                    <p class="mb-0">@comment.PublishedAt.ToString("ddd d MMM yyyy HH:mm")</p>
                </div>
                    @if (User.IsInRole("Admin") || User.IsInRole("Editor") || User.FindFirstValue(ClaimTypes.NameIdentifier) == comment.AuthorId){
                        <div><button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Remove</button></div>

                        <!-- Modal -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Delete</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="fw-bold text-center">Comment: "@comment.Content"</p>
                                        <p>Are you sure you want to delete this comment by @comment.AuthorName?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                                        <form asp-action="DeleteComment" asp-route-id="@comment.CommentId"><button type="submit" class="btn btn-primary">Yes</button></form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    }
            </div>
        }
    }
    @if(User.Identity!.IsAuthenticated) {
        if (Model.IsSuspended)
        {
            <p>Sorry, you have been suspended from commenting.</p>
        } else
        {
        <form asp-action="CreateComment">
            <label class="form-label" asp-for="NewCommentContent">Create new comment</label>
            <input asp-for="PostId" readonly hidden />
            <textarea asp-for="NewCommentContent" class="form-control"></textarea>
            <span asp-validation-for="NewCommentContent" class="text-danger"></span>
            <button type="submit" class="btn btn-primary float-end m-4">Post comment</button>
        </form>
        }
    } else {
        <p>Create a account today to start commenting!</p>
    }
</section>