@using MefistoTheatre.ViewModels.Blog
@model IEnumerable<BlogViewModel>

@{
    ViewData["Title"] = "Blog";
}
@foreach (var post in Model)
{
    <article>
        <small class="text-muted">@post.PublishedAt?.ToString("ddd d MMM yyyy") by @post.AuthorName | Comments (@post.CommentCount)</small>
        <h2 class="mb-1">@post.Title</h2>
        <p>
            @post.Summary 
            <a asp-action="Details" asp-route-id="@post.PostId" class="link-danger">Read more</a>
    </article>
    <hr />
}
