@    using MefistoTheatre.ViewModels;
    using MefistoTheatre.ViewModels.User
@model UserSearchViewModel

@{
    ViewData["Title"] = "Users";
}

<h1 class="mb-4">All Users</h1>

<div class="card px-4 py-3 mb-4">
<form asp-controller="User" asp-action="index" method="get">
    <div class="row g-3  align-items-end mb-2">
        <div class="col-sm-4">
            <label for="search" class="form-label">Full name</label>
            <input type="text" name="SearchString" placeholder="Type name here..." class="form-control" id="search" />
        </div>
        <div class="col-sm-2">
            <label for="roleSelect" class="form-label">Role</label>
        <select asp-for="UserRole" asp-items="Model.Roles" class="form-select" id="roleSelect">
            <option value="">All</option>
        </select>
        </div>
        <div class="col-sm">
            <input type="submit" value="Search" class="btn btn-primary">
        </div>
    </div>
</form>
</div>

@if(Model.Users!.Count == 0) {
    <h2 class="text-center mt-4">Sorry no users match that name.</h2>
} else {
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Users![0].FullName)</th>
                <th>@Html.DisplayNameFor(model => model.Users![0].Email)</th>
                <th>@Html.DisplayNameFor(model => model.Users![0].Role)</th>
                <th>@Html.DisplayNameFor(model => model.Users![0].IsSuspended)</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users!)
            {
                <tr class="align-middle">
                    <td>@Html.DisplayFor(modelUser => user.FullName)</td>
                    <td>@Html.DisplayFor(modelUser => user.Email)</td>
                    <td><span class="badge rounded-pill @(user.RoleColour)">@user.Role</span></td>
                    <td class="">
                        @((user.IsSuspended) ? "Yes" : "No")
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@user.UserId" class="btn btn-secondary"><i class="fa-solid fa-pen-to-square"></i></a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}